{% extends "layout.html" %}

{% block title %}Home - Sleep Project{% endblock %}

{% block content %}
<div class="hero">
    <img src="{{ url_for('static', filename='media/hero.png') }}" alt="Night Sky" class="hero-bg" />
    
    <h1 class="hero-title">Understanding and Optimizing Sleep Cycles</h1>    

    <div class="hero-buttons">
        <a href="/learn/1" class="nav-button">Learn</a>
        <a href="{{ url_for('quiz1_sequence') }}" class="nav-button">Quiz</a>
    </div>
</div>



{% endblock %}

