<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Sleep Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz_base.css') }}">
    
    {% block css %}{% endblock %}
  </head>
  
<body>

  <div class="navbar">
    <div class="nav-left">
      <a href="/" class="logo">
        <img src="{{ url_for('static', filename='media/logo.png') }}" alt="Sleep Project Logo">
      </a>
      <a href="{{ url_for('learn', section_id=1) }}" class="{% if active_page == 'sleep_cycles' %}active{% endif %}">Sleep Cycles</a>
      <a href="{{ url_for('learn', section_id=2) }}" class="{% if active_page in ['sleep_disruptors', 'real_world_examples'] %}active{% endif %}">Sleep Disruptors</a>
      <a href="{{ url_for('calculator') }}" class="{% if active_page == 'calculator' %}active{% endif %}">Sleep Calculator</a>
      <a href="{{ url_for('quiz1_sequence') }}" class="{% if active_page == 'quiz' %}active{% endif %}">Quiz</a>
    </div>
  </div>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% block script %}
  {% endblock %}
  
</body>
</html>
