<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sleep Project{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <nav>
    <ul class="navbar">
      <li><a href="/sleep_cycle">Sleep Cycles</a></li>
      <li><a href="/sleep_disruptors">Sleep Disruptors</a></li>
      <li><a href="/calculator">Sleep Calculator</a></li>
      <li><a href="/quiz_start">Quiz</a></li>
    </ul>
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>
